.better-together{
    font-family: BetterTogether, serif;
    margin-top: 0.30rem;
}
.bg-img {
    /* The image used */
    background: linear-gradient(
            rgba(0, 0, 0, 0.45),
            rgba(0, 0, 0, 0.45)
    ),url("/public/img/arzew-1939-CAM.jpg");
    height: 380px;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* Needed to position the navbar */
    position: relative;
}

.voile{
    width: 200px;
    height: 100px;
    background: red;
    opacity: 0.3;
}