<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Accueil{% endblock %}</title>
    {{ encore_entry_link_tags('app') }}
</head>
<body>
<div class="wrapper">
    {% include 'frontend/Components/1_preloader.html.twig' %}
    {% include 'frontend/Components/2_navbar.html.twig' %}
    {% block body %}
        AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
    {% endblock %}
</div>

{{ encore_entry_script_tags('app') }}
</body>
</html>