<div class="bg-img">
    <div style="height: 90%;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;">
        {% if citation is defined and auteur is defined %}
        <figure class="text-center">
            <blockquote style="border-left: 0.7rem solid #007bff00" class="blockquote bg-transparent text-white">
                <p>{{ citation }}</p>
            </blockquote>
            <figcaption class="blockquote-footer">
                {{ auteur }}
            </figcaption>
        </figure>
        {% else %}
        {% endif %}
    </div>
    <nav class="navbar navbar-expand-lg fixed-top navbar-shrink">
        <div class="container-fluid">
            <a class="navbar-brand better-together text-white" href="{{ path('app_main') }}">JPM</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link text-white" aria-current="page" href="#">Français</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">Mathématiques</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{{ path('app_mention') }}">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<script>
    //Record how many pixels are scrolled vertically
    let scrollpos = window.scrollY

    const nav = document.querySelector("nav")

    //How many pixels you need to scroll to add a class. You can change the value
    const scrollChange = 10

    //The function that will add the class
    const add_class_on_scroll = () => nav.classList.add("bg-dark")
    const remove_class_on_scroll = () => nav.classList.remove("bg-transparent")
    const add_class_scroll = () => nav.classList.add("bg-transparent")
    const remove_class_scroll = () => nav.classList.remove("bg-dark")
    //Tracking a "scroll" event
    window.addEventListener('scroll', function() {
        scrollpos = window.scrollY;

//If we scrolled more than we specified in the scrollChange variable, the add class function is executed
        if (scrollpos >= scrollChange) {
            add_class_on_scroll()
            remove_class_on_scroll()
        }else{
            add_class_scroll()
            remove_class_scroll()
        }
    })
</script>