<footer class="py-3 my-4 bg-dark">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
       <li class="nav-item"><a href="#" class=" nav-link px-2 text-muted">Français</a></li>
       <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Mathématiques</a></li>
       <li class="nav-item"><a href="{{ path('app_mention') }}" class="nav-link px-2 text-muted">About</a></li>
       <li class="nav-item"><a href="{{ path('app_login') }}" class="nav-link px-2 text-muted">Administration</a></li>
    </ul>
    <p class="text-center text-muted">© {{ "now"|date("Y") }} JPMemorial</p>
</footer>
